source_env ..

export AWS_DEFAULT_REGION='us-west-2'
export AWS_KEYPAIR='adamc_slalom'
export AWS_SSH_KEY_PATH='/Users/adamc/.ssh/adamc_slalom.pem'

export HUBOT_S3_BRAIN_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID
export HUBOT_S3_BRAIN_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY
export HUBOT_S3_BRAIN_BUCKET='hubot-brain-ash'
